
html, body, [class*='css']{
    font-family: 'cairo';
}

    
div.css-6qob1r.e1fqkh3o3 {
    background-color: #d5d0fe8a;
    border: 1px solid #DCDCDC;
    /* padding: 5px;
    padding: 20% ; */
    border-radius: 20px;

} 

div.container-xxl.d-flex.flex-column.flex-shrink-0.p-3{
    border-radius: 20px;
}

div.css-1offfwp.e16nr0p33{
    font-weight: bold;
}
    

div.element-container.css-zvqkad.e1tzin5v3{
    font-weight: bold;
}

div.element-container.css-15db8ql.e1tzin5v3{
    background-color: #261f588a;
    border: 1px solid #DCDCDC;
    /* padding: 5px;
    padding: 20% ; */
    border-radius: 60px;
}


div.user-select-none.svg-container{
    padding: 10px 70px 70px 70px;
    /* padding: 10% 10% 10% 10%; */
}

div.css-1v0mbdj.etr89bj1{
    border-radius: 8px;
    max-width:100%;
    height: auto;
}  


div.css-1cyexbd.edgvbvh0{
    background-color: #191970;
    color:#191970;
    border-radius: 60px;
    font-weight: bold
}